/*Begin Header Section*/
header {
    overflow: hidden;
    background-color: white;
    border-bottom: 3px solid black;
    left: 0;
    right: 0;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
}
header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 1em; 
  line-height: 25px;
  border-radius: 4px;
  margin-left: 1em;
  transition: all .3s ease;
}
/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
#logo {
  width: 11em;
  height: auto;
}
#logo:hover {
  background-color: white;
}
/* Change the background color on mouse-over */
header a:hover {
  background-color: #189A36;
  color: white;
  /*border: .4px solid black;*/
}
/* Style the active/current link*/
header a.active {
  background-color: #1A60A7;
  color: white;
  /*border: .4px solid black;*/
}
/* Float the link section to the right */
.header-right {
  float: right;
  margin-right: 1.5em;
  margin-top: 2em;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
#inspection {
  background-color: #189A36;
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: white;
}

#inspection:hover {
  background-color: #009919;
  box-shadow: 0 8px #999;
}

#inspection:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.menu {
  display: none;
}

/*Header End*/



html body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  transition: all 0.3s ease;
}

/*.showContainer {
  padding-top: 10%;
}*/
.navButton {
  display: none;
}

.caption {
  float: right;
}

.imge {
  height: 72vh;
  width: 90%;
  padding: 0px 5% 1em 5%;
  background: cover;
}
.imageContainer:not(:first-child) {
  /* Hide all images except the first */
  display: none;
}

.textBlock {
    position: absolute;
    bottom: 67%;
    right: 3%;
    background-color: rgba(11, 243, 11, .7);
    color: white;
    padding: .7em;
    border-radius: 0px;
    background-image: url("img/backgroundWood.jpg");
    border: 3px ridge rgba(11, 243, 11, .7);
}

#border {
    border-top:3px solid black;
    width: 100%;
}

#someText {
  margin: 0% 2% .5% 2%;
}

h1 {
  font-family: 'Dancing Script', cursive;
  border-bottom: 4px solid #189A36;
  font-size: 3.7em;
}

.look {
  display: flex;
  align-items: stretch;
}

.reviewer {
  font-size: .5em;
  text-align: center;
}
h2 {
  font-size: 2.5em;
}

#bottom {
  font-family: 'Dancing Script', cursive;
  border-bottom: 5px dotted grey;
  padding-bottom: 1em;
  font-size: 2em;
}

footer {
    left: 0;
    bottom: 0;
    width: 99.97%;
    height:15%;
    padding-top: .2em;
    background-color: #1A60A7;
    color: white;
    text-align: center;
    border: .4px solid black;
}

.row {
  display: flex;
}
.left {
  flex: 10%;
  margin-right: 20px;
}
.middle {
  flex: 55%;
  padding-right: .9%;
}
.right {
  flex: 25%;
  padding: 0% 1% 0% 1%;
  background-color: lightgrey;
  margin: 10em 0em 10em 0em;
  border-radius: 15px;
}

#dad {
  border-radius: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  left: 0;
  border: 5px double black;
}

#cert {
  width: 18%;
  height: auto;
  right: 0;
}

.error {
	display: none;
}		

.error_show {
	color: red;
}

input.invalid, textarea.invalid{
	border: 2px solid red;
}

input.valid, textarea.valid{
	border: 2px solid green;
}

#body {
  min-height: 100%;
  position: relative;
}

.bodyMain {
  margin: 0% 3% 0% 3%;
}

input[type=text] {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 17px;
}
input[type=email] {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 17px;
}
input[type=tel] {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 17px;
}
select {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 17px;
}
textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 17px;
}
input[type=submit] {
  padding: 6px 16px 6px 16px;
  border-radius: 8px;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  background-color: #16518c;
  border: 2px solid #16518c;
  border-radius: 4px;
  color: white;
  transition: all 0.3s ease;
}
input[type=submit]:hover {
  cursor: pointer;
  color: black;
  background-color: #FFF;
}
form {
  width: 620px;
  height: auto;
  position: relative;
  background-color: #666;
  border-radius: 2%;
  color: white;
  padding: .8em;
  font-family: 'Montserrat', sans-serif;
  margin: 3%;
}
.rightC {
  flex:40%;
}
#fillSide {
  width: 435px;
  height: auto;
  margin: 3%;
  border-radius: 20px;
  border: 1px groove black;
}

.imageAbout {
  margin: 0% auto 0% auto;
  max-width: 80%;
  height: 20em;
  border-radius: 20px;
}

.grid-container {
  display: grid;
  grid-gap: .1em 2em;
  grid-template-columns: 31.58% 31.58% 31.58%;
  padding-bottom: 2em;
  border-bottom: 5px solid #189A36;
}

.grid-item {
  background-color: white;
  text-align: center;
  color: black;
  padding: .5em;
  border-radius: 5px;
}
.gridImage {
  height: 18em;
  width: 20em;
  border: 3px solid #189A36;
  padding: 4px;
}
h3 {
  /*background-color: rgba(10, 99, 187, .9);*/
  padding: .5em;
  border-radius: 5px;
  color: rgb(10, 99, 187);
  font-size: 1.25em;
}

@media screen and (max-width:600px) {
  /* For mobile phones: */
  .row {
    display: block;
  }
  .middle, .right {
    width:100%;
    margin: 0%;
  }
  .showContainer, .left {
    display: none;
  }
  .menu {
    display: inline;
    width: 33px;
  }
  .header-right {
    display: none;
  }
  header {
    margin-bottom: 0em;
    display: inline;
  }
  header a {
    margin-left: 0em;
    width: 100%;
  }
  header a.menu {
    float: right;
    display: block;
  }
}